name: ci

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Install Deno
        uses: denolib/setup-deno@master
        with:
          deno-version: 1.1.3

      - name: Test
        env:
          HOSTNAME: smtp.163.com
          MAIL_USER: ${{ secrets.MAIL_USER }}
          MAIL_PASS: ${{ secrets.MAIL_PASS }}
          MAIL_TO_USER: ${{ secrets.MAIL_USER }}
        run: deno run --allow-net --allow-env ./test.ts
